 <nav>
  <div class="nav-wrapper blue">
    <div class="garage-nav"> 
      <%= link_to "Garagebot", root_path, class: "garage-logo" %>

      <% if user_signed_in? %>

      <!-- Dropdown Trigger -->
      <%= link_to "", "#", id: "navbar-menu", class: "navbar-dropdown", style: "background-image: url(#{current_user.facebook_picture_url})", "data-activates": "dropdown1" %>



      <!-- Dropdown Structure -->
      <ul id='dropdown1' class='dropdown-content'>
        <li>
          <%= link_to "#" do %>
          <i class="fa fa-user"></i> <%= t(".profile", default: "Profile") %>
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
          <i class="fa fa-home"></i>  <%= t(".profile", default: "Home") %>
          <% end %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
          <% end %>
        </li>
      </ul>

      <% else %>

      <!-- Login text link -->
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-item navbar-link" %>

      <% end %>
    </div>
  </div>
</nav>
