<div class="questions-form">
  <div class="row">
  <div class="col s6 offset-s3">
  <h4>Add question</h4>
      <%= simple_form_for([ questionaire, question ], remote: true, html: { id: "question-form-dropdown" }, url: dashboard_template_questions_path(questionaire)) do |f| %>
      <%= f.input :category, collection: ["Yes/No", "Multiple choice", "Open", "Scale"], input_html: {id: "category-question"} %>
      <%= f.input :content, placeholder: "Question" %>

      <h5>Multiple choice options</h5>

      <div id="question-options">
        <%= f.simple_fields_for :question_options do |question_option| %>
        <%= render partial: 'question_option_fields', locals: { f: question_option } %>
        <% end %>
        <div class="links">
          <%= link_to_add_association 'add question_option', f, :question_options %>
        </div>
      </div>
      <%= f.button :submit, id: "select-action"%>
      <% end %>
    </div>
  </div>
</div>
