<div class="questions-form">
  <%= simple_form_for([ questionaire, question ], remote: true, html: { id: "question-form-dropdown" }, url: dashboard_template_questions_path(questionaire)) do |f| %>
  <h4>Add question</h4>
  <%= f.input :category, collection: ["Yes/No", "Multiple choice", "Open", "Scale"], input_html: {id: "category-question"} %>
  <%= f.input :content, placeholder: "Question" %>

  <div id="multiple-choice" class="hidden">
    <h5>Multiple choice options</h5>

    <div id="question-options">
      <%= f.simple_fields_for :question_options do |question_option| %>
      <%= render partial: 'question_option_fields', locals: { f: question_option } %>
      <% end %>
      <div class="links">
        <%= link_to_add_association 'add this option', f, :question_options, class: "btn teal" %>
      </div>
    </div>
  </div>
  <%= f.button :submit, id: "select-action"%>
  <% end %>
</div>
