  <div class="user-info-wrapper">
    <% if current_user.facebook_picture_url.nil? %>
      <%= image_tag "placeholder_bunny.jpeg", class: "placeholder_bunny" %>
    <% else %>
      <%= image_tag current_user.facebook_picture_url %>
    <% end %>
    <ul class="list-unstyle right-align">
      <li>
        <h3>
          <%= current_user.first_name %>
        </h3>
      </li>
      <li>
        <h3>
          <%= current_user.last_name %>
        </h3>
      </li>
      <li>
        <%= current_user.email %>
      </li>
    </ul>
  </div>
