<div class="container">
<div class="row">
  <div class="col s6 offset-s3">

    <div class="button-container">
  <h3>All templates</h3>

      <%= link_to new_dashboard_template_path, class: "waves-effect waves-light red btn-garage" do %>
      <i class="material-icons">add</i>
      <% end %>
    </div>
  </div>
</div>

<% @questionaires.each do |questionaire| %>
<div class="row">
  <div class="col s6 offset-s3">
    <div class="card  teal lighten-3">
      <div class="card-content white-text">
        <span class="card-title"><%= questionaire.title %></span>
        <p><%= questionaire.instruction %></p>
      </div>
      <div class="card-action">
        <%= link_to "See template", dashboard_template_path(questionaire), class: "deep-orange-text" %>
        <%= link_to "Remove template", dashboard_template_path(questionaire), method: :delete, class: "deep-orange-text" %>
      </div>
    </div>
  </div>
</div>
<% end %>
</div>
