<div class="container">
  <div class="row">
    <div class="col s12">
      <%= link_to dashboard_templates_path, class: "teal-text" do %>
      <p>
        <i class="fa fa-chevron-left"></i> Back to overview
      </p>
      <% end %>
      <div class="questionaire-show">
        <div class="questionaire-box-text">
          <div class="title-questionaire">
            <h3><%= @questionaire.title %></h3>
          </div>
          <div class="questionaire-instruction">
            <%= @questionaire.instruction %>
          </div>
        </div>
        <div class="current-evaluations">
          <%= @text_evaluations %>
        </div>
      </div>
    </div>
  </div>

  <div class="container-questions">
    <div id="questions">
      <div class="collection with-header">
        <% if @questionaire.questions.blank? %>
        <div class="collection-header">
          <h4 id="no-questions">
            No Questions yet
          </h4>
        </div>
        <% else %>
        <div class="collection-header">
          <h4>
            Questions
          </h4>
        </div>
        <% end %>
        <% @questionaire.questions.each do |question| %>
        <%= render 'dashboard/questions/show', question: question, questionaire: @questionaire %>
        <% end %>
      </div>
    </div>
  </div>

  <%= render 'dashboard/questions/form', question: @question, questionaire: @questionaire %>
</div>

